.deps/
.libs/
.dirstamp

/INSTALL
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/*
!/m4/acinclude.m4
/missing
/stamp-h1
/tests/test_cpusetrange
/tests/test_read
/tests/test_syscalls

Makefile
Makefile.in

*.o
*.lo
*.la

/lxcfs
/lxcfs.1
/lxcfs.spec
/lxcfs-*.tar.gz
